<!DOCTYPE html>
<html>
  <head>
    <title>Qwitter</title>
  </head>

  <body>
    <header>
      <h1>QWITTER APP</h1>
      <a href="/users"> User Index </a> &nbsp &nbsp
      <a href="/qweets"> Qweet Index </a>
    </header>
    <%= yield %>

    <footer>  </footer>
  </body>
</html>
